In [1]:
import ast

In [2]:
def generer_cellule(val, succ=None):  
    return  {'valeur': val , 'succ': succ}

# retourne la cellule à l’index spécifié par le paramètre position
def element(l,pos):
    
    c=l
    for i in range(pos):
        s='{[succ]}'.format(c)
        c=ast.literal_eval(s)
    if c is None:
        print('position non existant')
    return c

# ajout cellule en tete de liste chainee
def ajout(liste,cellule):
    cellule['succ'] = liste
    
#ajout d'une cellule à la position p de la liste
def insertion(liste,cellule,position):
    
    if position > 0 :
        cellule2=element(liste,position)
        cellule['succ']=cellule2
        #print(cellule2,cellule)

        for i in range(0,position):
        
            cellule1=element(liste,position-1-i)
            cellule1['succ']=cellule
            tmp_cellule=cellule1
            cellule=tmp_cellule
            
#suppression d'une cellule à la position p        
def suppression(liste,position):
    if position==0:
        cellule=liste
        cellule2=element(liste,position+1)
        liste=cellule2
        return cellule
    
    cellule=element(liste,position)
    #print(cellule)
    cellule1=element(liste,position-1)
    cellule2=element(liste,position+1)
    cellule1['succ']=cellule2
    
    for i in range(0,position):
        cellule1=element(liste,position-i-1)
        cellule1['succ']=cellule2
        cellule2=cellule1
        
        #print(cellule1)
    return cellule

#recherche d'un element dans une liste chainee
def recherche(liste, valeur):
    i=0
    if liste['valeur']== valeur:
        return valeur,i
    else:
        while liste is not None and liste['succ'] is not None:
            i+=1
            if liste['succ']['valeur']== valeur:
                return valeur,i
            else:
                liste=liste['succ']
    
        return None
    
#recherche valeur max dans une liste et l'inserer à la tete de liste
def mini_tri(liste):
    i=0
    j=0
    val=liste['valeur']
    print(val)
    cellule=liste
    while cellule is not None and cellule['succ'] is not None:
        if cellule['succ']['valeur'] > val:
            i=j+1
            val = cellule['succ']['valeur']
            print('if:',val)
        cellule=cellule['succ']
        j+=1
    
    suppression(liste,i)
    ajout(liste,cellule)
    
    return val,i,liste,cellule

In [3]:
A = generer_cellule('a')

In [4]:
generer_cellule('b', A)

{'succ': {'succ': None, 'valeur': 'a'}, 'valeur': 'b'}

In [5]:
c1 = generer_cellule(4)
c2 = generer_cellule(8)
c3 = generer_cellule(16)
c4 = generer_cellule(32)

c1['succ'] = c2
c2['succ'] = c3
c3['succ'] = c4

c1

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 4}

In [7]:
cellule=generer_cellule(1)
ajout(c1,cellule)

In [8]:
c1

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 4}

In [9]:
cellule

{'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 4},
 'valeur': 1}

In [10]:
element(cellule,0)

{'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 4},
 'valeur': 1}

4

In [199]:
t=[['succ'] ]
c=c1
#print(c)
for i in range(0):
    s='{[succ]}'.format(c)
    c=ast.literal_eval(s)
print(c)

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16}, 'valeur': 8}, 'valeur': 4}

In [133]:
for i in range(len(list(c1.items()))):
        print((list(c1.items()))[i])

('succ', {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16}, 'valeur': 8})
('valeur', 4)

In [134]:
list(c1.items())[1][1]

4

In [135]:
element(c1,0)

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 4}

In [136]:
element(c1,1)

{'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16}, 'valeur': 8}

In [137]:
element(c1,2)

{'succ': {'succ': None, 'valeur': 32}, 'valeur': 16}

In [138]:
element(c1,3)

{'succ': None, 'valeur': 32}

In [139]:
element(c1,4)

position non existant

In [195]:
c5=generer_cellule(42)
ajout(c1,c5)

In [15]:
suppression(cellule,1)

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 4}

In [17]:
cellule

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 1}

In [18]:
c5=generer_cellule(42)
ajout(c1,c5)
c6=generer_cellule(63)

c6

{'succ': None, 'valeur': 63}

In [20]:
insertion(c5,c6,2)

In [26]:
c5

{'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 4},
 'valeur': 42}

In [201]:
c6

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 63}

In [184]:
suppression(c5,1)

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 4}

In [185]:
c5

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 32}, 'valeur': 16},
  'valeur': 8},
 'valeur': 42}

In [170]:
c5

{'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 4},
 'valeur': 42}

In [22]:
val=recherche(c5,63)

In [23]:
print(val)

(63, 2)

In [24]:
mini_tri(c5)

42
if: 63

(63,
 2,
 {'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
     'valeur': 16},
    'valeur': 8},
   'valeur': 4},
  'valeur': 42},
 {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
      'valeur': 16},
     'valeur': 8},
    'valeur': 4},
   'valeur': 42},
  'valeur': 32})

In [27]:
c5

{'succ': {'succ': {'succ': {'succ': {'succ': None, 'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 4},
 'valeur': 42}

In [28]:
c6

{'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': None,
         'valeur': 32},
        'valeur': 16},
       'valeur': 8},
      'valeur': 4},
     'valeur': 42},
    'valeur': 32},
   'valeur': 16},
  'valeur': 8},
 'valeur': 63}

In [29]:
mini_tri(c6)

63

(63,
 0,
 {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {...},
          'valeur': 32},
         'valeur': 16},
        'valeur': 8},
       'valeur': 4},
      'valeur': 42},
     'valeur': 32},
    'valeur': 16},
   'valeur': 8},
  'valeur': 63},
 {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {...},
          'valeur': 16},
         'valeur': 8},
        'valeur': 4},
       'valeur': 42},
      'valeur': 32},
     'valeur': 16},
    'valeur': 8},
   'valeur': 63},
  'valeur': 32})

In [30]:
c6

{'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {'succ': {...},
         'valeur': 32},
        'valeur': 16},
       'valeur': 8},
      'valeur': 4},
     'valeur': 42},
    'valeur': 32},
   'valeur': 16},
  'valeur': 8},
 'valeur': 63}

In [34]:
c3

{'succ': {'succ': {'succ': {'succ': None, 'valeur': 16}, 'valeur': 8},
  'valeur': 32},
 'valeur': 16}

In [35]:
mini_tri(c3)

16
if: 32

(32,
 1,
 {'succ': {'succ': {'succ': None, 'valeur': 16}, 'valeur': 8}, 'valeur': 16},
 {'succ': {'succ': {'succ': {'succ': None, 'valeur': 16}, 'valeur': 8},
   'valeur': 16},
  'valeur': 16})

In [36]:
c3

{'succ': {'succ': {'succ': None, 'valeur': 16}, 'valeur': 8}, 'valeur': 16}

In [175]:
c2

{'succ': {'succ': None, 'valeur': 32}, 'valeur': 16}